<section class="main">
  <div>
    <h1>
      A comprehensive platform for reliable job opportunities and internships
    </h1>
    <div>
      <h3>Get discoverd and get hired</h3>
      <button>I am job seeker</button>
      <button>I am Recruiter</button>
    </div>
  </div>
</section>
