<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Easily</title>
  </head>
  <body>
    <nav>
      <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/jobPage">Jobs</a></li>
        </ul>
      </div>
    </nav>
    <main><%-body%></main>
  </body>
</html>
