<section class="register-form">
  <form action="/register" method="post">
    <label for="name">Enter your name</label>
    <input
      type="name"
      name="name"
      id="name"
      placeholder="enter your name"
      required />
    <label for="email">Enter your email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="enter email"
      required />
    <label for="password">Enter your password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="enter password"
      required />
    <label for="recruiter_id">Enter recruiter id</label>
    <input
      type="text"
      name="recruiter_id"
      id="recruiter_id"
      placeholder="enter recruiter id"
      required />
    <button type="submit">Register</button>
    <p>Alreday have account</p>
    <a href="/login">Login</a>
  </form>
</section>
